.page-content-wrapper {
  .logo {
    margin-top: 45px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .intro {
    margin-top: 55px;
    .list-intro {
      width: 700px;
      display: flex;
      list-style-type: none;
      margin: 0 auto;
      text-align: center;
      li {
        flex-grow: 1;
        display: inline-block;
        a {
          text-decoration: none;
          color: #333333;
          font-size: 12pt;
        }
      }
    }
  }
}